# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

SecureChat/Backup/SecureChat.sln
SecureChat/ipch/securechat-2ccdfde1/debug/securechat-85f71450.ipch
SecureChat/SecureChat.clw
SecureChat/SecureChat.dsw
SecureChat/SecureChat.dsp
SecureChat/SecureChat.sdf
SecureChat/SecureChat.sln
SecureChat/SecureChat.v11.suo
SecureChat/SecureChat.vcproj
SecureChat/SecureChat.vcxproj
SecureChat/SecureChat.vcxproj.filters
SecureChat/SecureChatClient/SecureChatClient.clw
SecureChat/SecureChatClient/SecureChatClient.dsp
SecureChat/SecureChatClient/SecureChatClient.vcxproj
SecureChat/SecureChatClient/SecureChatClient.vcxproj.filters
SecureChat/SecureChatClient/SecureChatClient.vcproj
SecureChat/UpgradeLog.htm
SecureChat/UpgradeLog.XML
SecureChat/_UpgradeReport_Files/UpgradeReport.css
SecureChat/_UpgradeReport_Files/UpgradeReport.xslt
SecureChat/_UpgradeReport_Files/UpgradeReport_Error.png
SecureChat/_UpgradeReport_Files/UpgradeReport_Information.png
SecureChat/_UpgradeReport_Files/UpgradeReport_Success.png
SecureChat/_UpgradeReport_Files/UpgradeReport_Warning.png